body {
    font-family:'Times New Roman', Times, serif;
    text-align: center;   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: green;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(3, 224, 3);
    gap: 5px;
}


nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}


.menu-navegacion {
    margin: 20px 0;
    display: flex;
    text-decoration: none;
    gap:30px;
}

.menu-navegacion a {
    color: white;
    margin: 5px 0;
    display: inline-block;
    text-decoration: none;
}